.about-row p{
    
     font-size: 16px;
  line-height: 26px;
  font-weight: 200;
    color: #384B5D;
}

.about-row h5{
    font-family: 'Aldrich' , serif;
  font-size: 29px;
  margin-bottom: 6px;
color: #c16068;
    font-weight: bold;
}

 :root {
  --mobile-width: 414px;
}

* {
  box-sizing: border-box;
}




#about {
  display: flex;
  flex-direction:column;
  align-items: center;
  padding-bottom: 120px;
   background-color:#f9f9f9;
 color: #384B5D;
    font-family: Aldrich;
}

.about-intro {
  max-width: 840px;
  margin: 0px 5px 50px;
  font-size: 22px;
  line-height: 42px;
  z-index: 1;
  animation: 1.8s fadein;
}

.about-intro > span {
  font-weight: 700;
}

.about-row {
  display:inline-flex;
  width: 100%;
  max-width: 840px;
  margin: 0 20px 22px;
    word-break:break-all;
    word-wrap: break-word;
    text-align:justify;
    
    
    }


.about-me {
  position: relative;
  flex: 1;
    float: inherit;

    
   
}

.about-me-border {
  position: absolute;
  top: 0;
  left:0;
  width: 2px;
  height: 160px;


}

.about-me-description {
  margin: 10px 20px;
    
}

@media screen and (max-width: 600px) {
  .about-row {
    flex-direction: column;
    align-items: center;
  }
  .about-me {
    margin-bottom: 42px;
  }

  .about-me:last-of-type {
    margin-bottom: 0;
  }
}


/*

h1,
h3,
h5,
p {
  margin: 0;
}

html,
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Roboto, Helvetica,
    Arial, sans-serif;
  overflow-x: hidden;
  background: #ec6868;
}
*/


/*
.overflow-wrapper h5 {
  font-family: 'Scheherazade', serif;
  font-size: 29px;
  margin-bottom: 6px;
    color : white;
}

.overflow-wrapper p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
    color : white;
}
*/


/* ----------------------------------------------- COMMON ----------------------------------------------- */

.green {
  background-color: #56d7b6;
  color: #fff;
}

.blue {
  background-color: #3984ea;
  color: #fff;
}

.red {
  background-color: #ea0064;
}

.yellow {
  background-color: #fdd369;
}

.my52-black {
  background-color: #141720;
  color: #fff;
}

.my52-past {
  background-color: #191919;
  color: #fff;
}

.mem-plz {
  background-color: #d7d7d7;
  color: #141720;
}

.rnn {
  background-color: #fbc736;
  color: #141720;
}

.palace {
  background-color: #2c98f0;
  color: #fff;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}








///////////////////////////////////////////////////////////////////////////////////////
.header-icons


.header-icons{display:flex;
    justify-content:center;text-align:center;
}
.header-icons .icon{color:#fff;text-align:center;}
.header-icons .icon{height:200px;padding:20px;border-radius:50%;border:2px solid #fff;transition:all .7s;width:200px;font-size:50px;margin-top: 30px;}

.header-icons .icon:active,.header-icons .icon:hover{color:#ed2939;background:#fff}



@media only screen and (min-width:550px){.header-icons .icon{width:80px;height:80px;font-size:35px;position: relative;}}


.demo{
    
    font-size:35px;
    
}

nav{
    
    padding:0;
    

}
nav {
  width: 100%;
  height: 60px; 
  position: fixed; 
  top: 0;
  background: #1ABC9C;
}

.navbar.fixed-top {
  background-color: transparent;
  transition: background-color 200ms linear;
}
.container-fluid{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    overflow: hidden;
    
    
}
.aboutdes{
    
    text-align: left;
    
}

.container{
    
    background-color: transparent;
    
}
.main{
    
    background-color: transparent;
}
 
    html,body{
    font-family: Aldrich;font-size: 18px;
/*color: #ed2939;*/color:#a8a8a8;
margin: 0 px;
    padding: 0 px;
    display: inline-block;
  background:#181818;  /* fallback for old browsers */
  color: #384B5D;

    
}
    
    
/*
    font-family: Aldrich;font-size: 18px;
color: #ed2939;
margin: 0 px;
    padding: 0 px;
    display: inline-block;
  background:white;   fallback for old browsers 
  color: #384B5D;

    font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
*/
.research{
    padding-top: 10px;
}

.hresume{
    
  padding-top: 1rem;
    margin-top: 52px;
}
#Resume{
    margin-bottom: 50px;
}
h2{
    
  text-align: center;font-family: Orbitron;
    color:#ed2939;
/*
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
    
*/
}

.jumbotron{
    background:transparent;
    text-align: center;
    
}

.sectionLights{
    width:auto;
   background-image: url(../assets/giphy.gif);
    background-size:100%;
    padding: 15rem;
    padding-top: 10rem;
/*    color:#ed2939;*/
    color:white;
    
}



.sectionLight{
/*
    background-color:#f0f2f9;
    padding-top: 20px;
    background-color:#f9f9f9;
    padding: 2rem;
   
*/
    
max-width: 100%;
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding-left:0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Roboto, Helvetica,
    Arial, sans-serif;
  overflow-x:hidden;
   background-color:#f9f9f9;
    
}

.sectionLightsk{
/*    background-color:#f0f2f9;*/
    background-color:#202020;
    padding: 2rem;
    
    
}

h2{
    
margin-top:7.5%;
    
    
}


.aboutdes{
    margin-top: 4%;
    margin-bottom: 15.3%;
}

button.resume{
    
    margin-bottom: 0%;
}

.sectionLightss{
/*    background-color:#f0f2f9;*/
    background-color:white;
    padding: 1rem;
    margin-top: 2px;
    
    
    
}


div.box{
    display: block;
    height: 300px;
    background-color: transparent;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px 0 rgba(0,0,0,.1);
    text-align: center;
    border-radius: 10px;
    
    
}

.edu{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}




.imgs{
    border-radius: 60%;
    background:transparent;
}


.devicon-python-plain-wordmark:before{content:"\eb88"}.devicon-python-plain:before{content:"\eb89"}

.sectionDark{
    
    background-color:white;
    padding: 2rem;
    
}
.sectionDark .col-12{
    margin-bottom: 5%;
    
}


.sectionDarks{
    
    background-color:#f9f9f9;
    padding: 2rem;
    
}


.text-red {
    color:#384B5D !important;
    font-size: 1.2rem;
}
.sectionDarkss{
    
    background-color:white;
    color:#384B5D !important;
    padding: 1.3em 5em;
    
    
}

.sectionDarkss h2{
    
margin-bottom: 1.2rem;
}

.coolStuffWrapper{
    
    margin:20px;
    
}

h5{
    font-size: 19px;
/*    color:#384B5D;*/
    color:#384B5D;
    
}
#newColHeading{
    
    color:#c16068;
}

h2{
/*    color: #384B5D;*/
    color: #c16068;
}

h3,h4,stong{margin-top:0.5em;padding-top:0.5em;line-height:1;color:white;}
h3{font-size:1.5rem}
#introModalHeader{
    
}
div{
    
    display:block;
    
}

.tech{margin:5px;}.user{text-align:left;font-size:60px;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between}.user p{font-size:18px}

.sectionLightsk h2{
    margin-top: 8%;
    margin-bottom: auto;
}
.tech{
    color:red;
    margin-bottom:12%;
    text-align: justify;
    padding-top: 2rem;
    
   
    
}

#introModall{
    padding-left:155px;
}

button.coolStuffBtn{
    background-color: dodgerblue;
    color:white;
    width:30%;
    display: block;
    margin: auto;
    
    
}


table td{
    vertical-align: top;
}


h5.modal-title{
margin:auto;
    padding-left: 4rem;

    }
.modalFormWrapper{
    padding: 2rem;
}

.imgCenter{
    display: block;
    margin: auto;
}
.btnCenter{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    display: block;
    width:auto;
}
.footerImg{
    padding:15px;
}
.fa{
    margin:10px;
}
.pic{
    
   background-color: transparent
       ; 
     box-shadow: 10px 10px 5px #aaaaaa;
}
.pics{
    
   background-color: transparent; 
    padding: .5rem;
     box-shadow: 10px 10px 5px #aaaaaa;

}
.socialWrapper{
    margin: auto;
}
.fa-facebook-square{
    color:#3b5998;
}
.fa-google-plus-square{
    color:#c32f10;
}
.fa-instagram{
    color:white;
}
.fa-linkedin-square{
    
    color: #0077B5;
}
.fa-github-square{
    
    color: #6cc644;
}
.fa-youtube-play{
    color: #FF0000;
}



.foo{
    
    text-align: center;
    background-color: black;
}
#sectionDark .card{
    border-radius: 20px;
    box-shadow: 3px 3px 3px grey;
    background-color: white;
    color:black;
}


font-family: 'Markazi Text', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Aldrich', sans-serif;
font-family: 'Changa', sans-serif;
font-family: 'Playball', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Merienda', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Cookie', cursive;
font-family: 'Alex Brush', cursive;
font-family: 'Italianno', cursive;
font-family: 'Faster One', cursive;
font-family: 'Calligraffitti', cursive;
font-family: 'Kurale', serif;
font-family: 'Biryani', sans-serif;
font-family: 'Trocchi', serif;
font-family: 'Aladin', cursive;
font-family: 'Vast Shadow', cursive;

ul{
    list-style-type: none;
    padding: 0px;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	 font-family: Aladin;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
   
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
    text-align: center;
    
}

.footer-distributed .footer-icons{
	margin-top: 25px;
    margin-left: 50px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 30px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/*    */

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}
.item .image {
  padding: 1.3em 2em;
    z-index: 2;
    
}
.item .image > div {
  position: relative;
  text-align: center;
  font-size: 0.8em;
}
.item .image > div::after {
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid black;
  position: absolute;
  top: 2.75em;
  left: 2.5em;
  z-index: -1;
}
.item .image img {
  
  height: 5em;
    border-radius: 50%;
    border:1px;
 

}

.item .image span {
  display:inherit;
  clear: both;
  padding: 0.5em 0;
  margin: 0.5em 0;
  background:none;
    color:#384B5D;
}
.item .details {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item .details > div {
  border: 1px solid ;
  border-radius: 0.5em;
  padding: 1.5em;
  margin: 1em 0;
}
.item .details > div h1 {
  color: #384B5D;
  font-size: 1.4em;
  margin: 0;
  padding: 0 0 0.5em 0;
  letter-spacing: 0.1em;
}
.item .details > div p {
  margin: 0;
  padding: 0;
  line-height: 150%;
}
.item .details::before {
  content: '';
  width: 0;
  height: 100%;
  border-left: 1px solid #232b50;
  position: absolute;
  top: 20%;
  left: -4.35em;
  z-index: -1;
}



/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
